@import url(zeroing.css);
.main-content{
	height: 100vh;
}
.circle{
	border-radius: 50%;
	position: absolute;
}
.content{
	background-color: #BCBCBC;
}
.content__title{
	text-align: center;
	color: #fff;
	font-size: 30px;
	padding: 20px 0;
	letter-spacing: 5px;
}